.footer
    {
    background-image: url(../img/blue-printed-circuit-board-vector.jpg);
    width: 100%;
    overflow: hidden;

    &__img {
        width: 5rem;
        height: 5rem;
        padding: 0.2rem 0.3rem 0.2rem 0.3rem;
        text-align: center;
    }

    &__div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        text-align:center;     
    }

    &__h2 {
        color: $Cblanco;
        font-weight: bold;
        font-family: $Lroboto;
        text-align: center;
    }

    &__p {   
        color: $Cblanco;      
        font-family: $Lroboto;
        text-align: center;
        font-weight: bolder;
    }

    &__a {
        color: $Cblanco;   
    }
    }