.footer
    {
    background-color: $Cverdeagua;
    width: 100%;

    &__img {
        max-width: 70%;
    }


    &__h2  
    {
    color: $Cblanco;
    font-size: 2rem;
    font-family: $Lfooter;
    text-align: center;
    line-height: 2;
    }
    &__p
    {
    font-size: rem;
    font-family: $Lroboto;
    text-align: center;
    line-height: 1.5;
    font-weight: bolder;
    }
    &__a
    {
    color: $Cnegro;
    font-size: 2rem;
    }
    }