/*MEDIA QUERIES (ESTILOS MOVILES)*/

@media screen and (max-width: 1024px)
{

.header
{
width: 100%;
background-color: $Cnegro;
}
    
.header__img
{
width: 100%;
}    

iframe
{
width: auto; 
height: auto
}
}



@media screen and (max-width: 768px) 
{

.header
{
width: 100%;
background-color: $Cnegro;
}

.header__img
{
width: 100%;
}

.header__item
{
display: flex;
flex-direction: column;
padding: 5px;

}

.cuerpo__div--flex
{
display: flex;
flex-direction: column;
align-items: center;
}

.section__l
{ 
display: flex;
flex-direction: column;
margin-right: 0px;
align-items: center;
}

.section__r
{
display: flex;
flex-direction: column;
margin-left: 0px;
align-items: center;
}

iframe
{ 
width: auto;
height: auto
}

.foother__img
{
max-width: 85%
}
}

@media screen and (max-width: 425px) 
{

.header
{
width: 100%;
background-color: $Cnegro;
}

.header__img
{
max-width: 100%;
}

.header__item
{
display: flex;
flex-direction: column;
padding: 5px;

}

img
{
width: 100%;
}

.cuerpo__div--flex
{
display: flex;
flex-direction: column;
align-items: center;

}
.section__l
{ 
display: flex;
flex-direction: column;
margin-right: 0px;
align-items: center;
}
.section__r
{
display: flex;
flex-direction: column;
margin-left: 0px;
align-items: center;
}

.cuerpo__img
{
width: 85%;
}

iframe
{
width: auto;
height: auto;
}

.footer__img
{
width: 70%;
}

}  