
$Cnegro: black; 
$Cblanco: white;
$Cverdeagua: #18C29C;
$Crojo: red;
$Cverdeoscuro: #0B877D;
$Cgris: #031727;


$Lbebas: 'Bebas Neue', cursive;
$Lroboto: 'Roboto', sans-serif;
$Lfooter: 'Rock Salt', cursiva;
